
    <!-- Register Section Begin -->
    <div class="register-login-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="register-form">
                        <h2>Register</h2>
                        <form #registerFrm="ngForm" (ngSubmit)="Register()">
                            <div class="group-input">
                                <label for="fullname">Full Name *</label>
                                <input #fullNameInp="ngModel" type="text" id="fullname" name="fullname" [(ngModel)]="newUser.fullName" pattern="^[A-Za-z ]{8,50}$" required>
                                <div class="alert alert-danger" [hidden]="fullNameInp.valid || fullNameInp.untouched">
                                    <small *ngIf="fullNameInp.errors?.['required']">Full Name is Required!!</small>
                                    <small *ngIf="fullNameInp.errors?.['pattern']">Full Name must contain alphabetic characters and spaces only and between 8 and 50 characters</small>
                                </div>
                            </div>
                            <div class="group-input">
                                <label for="username">Username *</label>
                                <input #userNameInp="ngModel" type="text" id="username" name="username" [(ngModel)]="newUser.userName" pattern="^[A-Za-z]{8,16}$" required>
                                <div class="alert alert-danger" [hidden]="userNameInp.valid || userNameInp.untouched">
                                    <small *ngIf="userNameInp.errors?.['required']">User Name is Required!!</small>
                                    <small *ngIf="userNameInp.errors?.['pattern']">Full Name must contain alphabetic characters only and between 8 and 16 characters</small>
                                </div>
                            </div>
                            <div class="group-input">
                                <label for="email">Email Address *</label>
                                <input #emailInp="ngModel" type="email" id="email" name="email" [(ngModel)]="newUser.email" required>
                                <div class="alert alert-danger" [hidden]="emailInp.valid || emailInp.untouched">
                                    <small *ngIf="emailInp.errors?.['required']">Email Address is Required!!</small>
                                </div>
                            </div>
                            <div class="group-input">
                                <label for="phonenumber">Phone Number *</label>
                                <input #phoneInp="ngModel" type="tel" id="phonenumber" name="phonenumber" [(ngModel)]="newUser.phoneNumber" pattern="^[0-9]{6,16}$" required>
                                <div class="alert alert-danger" [hidden]="phoneInp.valid || phoneInp.untouched">
                                    <small *ngIf="phoneInp.errors?.['required']">Phone Number is Required!!</small>
                                    <small *ngIf="phoneInp.errors?.['pattern']">Phone Number Length must be between 6 and 16 Numbers</small>
                                </div>
                            </div>
                            <div class="group-input">
                                <label for="password">Password *</label>
                                <input #passInp="ngModel" type="password" id="password" name="password" [(ngModel)]="newUser.password" required>
                                <div class="alert alert-danger" [hidden]="passInp.valid || passInp.untouched">
                                    <small *ngIf="passInp.errors?.['required']">Password is Required!!</small>
                                </div>
                            </div>
                            <div class="group-input">
                                <label for="confirmpassword">Confirm Password *</label>
                                <input #confirmPassInp="ngModel" type="password" id="confirmpassword" name="confirmpassword" [(ngModel)]="confimPass" pattern="{{passInp.value}}" required>
                                <div class="alert alert-danger" [hidden]="confirmPassInp.valid || confirmPassInp.untouched">
                                    <small *ngIf="confirmPassInp.errors?.['required']">Please Confirm Your Password</small>
                                    <small *ngIf="confirmPassInp.errors?.['pattern']">Does not Match Your Password</small>
                                </div>
                            </div>
                            <button [disabled]="registerFrm.invalid" type="submit" class="site-btn register-btn">REGISTER</button>
                        </form>
                        <div class="switch-login">
                            <a routerLink="/Login" class="nav-link" class="or-login">Or Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Register Form Section End -->

    <!-- Partner Logo Section Begin -->
    <div class="partner-logo">
        <div class="container">
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-1.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-2.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-3.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-4.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner Logo Section End -->

