    <!-- Shop Details Section Begin -->
    <section class="shop-details">
        <div class="product__details__pic">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__details__breadcrumb">
                            <a routerLink="/Home">Home</a>
                            <a routerLink="/Shop">Shop</a>
                            <span>{{item?.name}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 ">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__pic__item col-12">
                                    <img src="{{item?.imagePath}}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product__details__content mb-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="product__details__text">
                            <h4>{{item?.name}}</h4>
                            <ng-container *ngFor="let number of [].constructor(5); index as i">
                            <button class="btn px-0 mx-0" style="outline: none; box-shadow:none;" (click)="editRate(i)" ><i
                              [ngClass]="{'fa-star':i<=item.rate, 'fa fa-star-o':i>item.rate ,'goldRate':i<=item.rate, 'fa':true}"></i>
                            </button>
                          </ng-container>
                          <span> - 5 Reviews</span>
                            <h3>{{item?.price|currency}} <span>70.00</span></h3>


                            <div class="product__details__cart__option">
                                <div class="quantity">
                                    <div class="pro-qty">
                                        <input type="number" value="{{quantity}}" min="1" max="{{item?.numberInStock}}">
                                    </div>
                                </div>
                                 <a  routerLinkActive="router-link-active" class="primary-btn" style="cursor:pointer;"  (click)="AddToCart()">add to cart</a>
                            </div>
                            <div class="product__details__btns__option">
                                <a href="#"><i class="fa fa-heart"></i> add to wishlist</a>
                                <a href="#"><i class="fa fa-exchange"></i> Add To Compare</a>
                            </div>
                            <div class="product__details__last__option">
                                <h5><span>Guaranteed Safe Checkout</span></h5>
                                <img src="img/shop-details/details-payment.png" alt="">
                                <ul>
                                    <li><span>SKU:</span> 3812912</li>
                                    <li><span>Categories:</span> Clothes</li>
                                    <li><span>Tag:</span> Clothes, Skin, Body</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Shop Details Section End -->




