


    <!-- Register Section Begin -->
    <div class="register-login-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="login-form">
                        <h2>Login</h2>
                        <form #loginFrm="ngForm" (ngSubmit)="Login()">
                            <div class="group-input">
                                <label for="username">User name or Email Address *</label>
                                <input #accountInp="ngModel" type="text" id="username" name="account" [(ngModel)]="logingUser.User" required >
                                <div class="alert alert-danger" [hidden]="accountInp.valid || accountInp.untouched">
                                    <small *ngIf="accountInp.errors?.['required']">User Name or Email is Required!!</small>
                                </div>
                            </div>
                            <div class="group-input">
                                <label for="pass">Password *</label>
                                <input #passwordInp="ngModel" type="text" id="pass" name="pass" [(ngModel)]="logingUser.Password" required >
                                <div class="alert alert-danger" [hidden]="passwordInp.valid || passwordInp.untouched">
                                    <small *ngIf="passwordInp.errors?.['required']">Password is Required!!</small>
                                </div>
                            </div>
                            <div class="group-input gi-check">
                                <div class="gi-more">
                                    <div class="checkout__input__checkbox">
                                        <label for="save-pass">
                                            Save Password
                                            <input type="checkbox" id="save-pass">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <a href="#" class="forget-pass">Forget your Password</a>
                                </div>
                            </div>
                            <button [disabled]="loginFrm.invalid" type="submit" class="site-btn login-btn">Sign In</button>
                        </form>
                        <div class="switch-login">
                            <a routerLink="/Register" class="nav-link" class="or-login">Or Create An Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Register Form Section End -->

    <!-- Partner Logo Section Begin -->
    <div class="partner-logo">
        <div class="container">
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-1.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-2.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-3.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-4.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner Logo Section End -->
