<mat-nav-list>
    <h2 matSubheader class="mt-2">Applications</h2>
    <a mat-list-item routerLink="/admin/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>Home
    </a>
    <a mat-list-item routerLink="/admin/product" routerLinkActive="list-item-active">
        <mat-icon>edit</mat-icon>Manage Products
    </a>
    <a mat-list-item routerLink="/admin/category" routerLinkActive="list-item-active">
        <mat-icon>edit</mat-icon>Manage Categories
    </a>
</mat-nav-list>