    <!-- Breadcrumb Section Begin -->
   <app-bread-crumb app-bread-crumb="Shopping Cart"></app-bread-crumb>
    <!-- Breadcrumb Section End -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of Basket?.items; index as i">
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="{{item.productImage}}" style="width:90px;" alt="">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6>{{item.productName}}</h6>
                                            <h5>{{item.price|currency}}</h5>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <div class="quantity">
                                            <div class="pro-qty-2">
                                              <a (click)="deicreament(item.id)"><span class="fa fa-angle-left inc qtybtn"></span> </a>
                                              <input type="number" [(ngModel)]="item.quantity"   min="1" max="{{item.numberInStock}}" (change)="changeItemQuantity(item.id, item.quantity)" class="inputQuantity" />
                                               <a (click)="increament(item.id)"> <span class="fa fa-angle-right inc qtybtn"></span></a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">{{item.price * item.quantity|currency}}</td>
                                    <td class="cart__close" ><a (click)="RemoveItem(item.id)"><i class="fa fa-close"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a routerLink="/Shop">Continue Shopping</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn update__btn">
                                <a routerLink="/Orders"><i class="fa fa-spinner"></i>Orders</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cart__discount">
                        <h6>Discount codes</h6>
                        <form action="#">
                            <input type="text" placeholder="Coupon code">
                            <button type="submit">Apply</button>
                        </form>
                    </div>
                    <div class="cart__total">
                        <h6>Cart total</h6>
                        <ul>
                          <li>Subtotal <span>{{Basket?.totalPrice|currency}}</span></li>
                          <li>Shipping and Delivery <span>{{20|currency}}</span></li>
                          <li>Total <span>{{Basket?.totalPrice?? 0|currency}}20 </span></li>
                        </ul>
                        <a routerLink="/CheckOut" class="primary-btn">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shopping Cart Section End -->


