<!-- Offcanvas Menu Begin -->
<div ngClass="{{offcanvasMenuOverlayClass}}" (click)="CloseMenu()"></div>
<div ngClass="{{offcanvasMenuWrapperClass}}">
  <div class="offcanvas__option">
    <div class="offcanvas__links">
      <a routerLink="/Login" routerLinkActive="active" *ngIf="!isUserLogged" class="nav-link">Sign in</a>
      <a *ngIf="isUserLogged"  style="cursor: pointer;" class="nav-link">H{{userName}}</a>
      <a *ngIf="isUserLogged" (click)="LogOut()" style="cursor: pointer;" class="nav-link">Logout</a>
      <a href="#">FAQs</a>
    </div>
    <div class="offcanvas__top__hover">
      <span>Usd <i class="arrow_carrot-down"></i></span>
      <ul>
        <li>USD</li>
        <li>EUR</li>
        <li>USD</li>
      </ul>
    </div>
  </div>
  <div class="offcanvas__nav__option">
    <a href="#" class="search-switch"><img src="assets/img/icon/search.png" alt=""></a>
    <a href="#"><img src="assets/img/icon/heart.png" alt=""></a>
    <a routerLink="/Shopping-Cart" routerLinkActive="active" class="nav-link"><img src="assets/img/icon/cart.png" alt=""> <span *ngIf="isUserLogged">{{count}}</span></a>
    <div class="price"><span *ngIf="isUserLogged">{{price|currency}}</span></div>
  </div>
  <div id="mobile-menu-wrap">

    <div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0"
        class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span
          class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span
            class="slicknav_icon-bar"></span></span></a>
      <nav class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">

        <ul >
          <li  routerLinkActive="active" aria-current="page" class="list-group-item  py-0"><a routerLink="/Home"  role="menuitem">Home</a></li>
          <li class="slicknav_parent slicknav_collapsed " style="padding:0 1.25rem;" >
            <a href="#item-1"  data-toggle="collapse" (click)="openDrop()">
              Shopping
              <span class="slicknav_arrow">{{arrow}}</span>
            </a>
            <div class="list-group list-group-root well">
              <ul class="list-group collapse" id="item-1">
                <li  class="list-group-item " routerLinkActive="active">
                  <a routerLink="/Shop"  >Shop</a>
                </li>
                <li  class="list-group-item " routerLinkActive="active">
                  <a routerLink="/Shopping-Cart" role="Shopping-Cart" >Shopping Cart</a>
                </li  >
                <li  class="list-group-item " routerLinkActive="active">
                  <a routerLink="/CheckOut"  >Check Out</a>
                </li>
              </ul>
            </div>
          </li>
          <li routerLinkActive="active" class="list-group-item py-0"><a routerLink="/Blog" class="nav-link" role="menuitem">Blog</a></li>
          <li routerLinkActive="active"  class="list-group-item py-0"><a routerLink="/Contact"   role="menuitem">Contacts</a></li>
          <li routerLinkActive="active"  class="list-group-item  py-0"><a routerLink="/AboutUs"  class="nav-link" role="menuitem">About</a></li>
          <li routerLinkActive=""  class="list-group-item  py-0"><a routerLink="/"  class="nav-link text-danger" role="menuitem">Be a Vendor</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="offcanvas__text">
    <p>Free shipping, 30-day return or refund guarantee.</p>
  </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-7">
          <div class="header__top__left">
            <p>Free shipping, 30-day return or refund guarantee.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-5">
          <div class="header__top__right">
            <div class="header__top__links">
              <a routerLink="/"  class="nav-link text-danger" >Be a Vendor</a>
              <a routerLink="/Login" *ngIf="!isUserLogged" class="nav-link" >Sign in</a>
              <a *ngIf="isUserLogged" (click)="LogOut()" class="nav-link" style="cursor: pointer;" >Logout</a>
              <a href="#">FAQs</a>
            </div>
            <div class="header__top__hover">
              <span>Usd <i class="arrow_carrot-down"></i></span>
              <ul>
                <li>USD</li>
                <li>EUR</li>
                <li>USD</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="header__logo">
          <a routerLink="/Home" routerLinkActive="active" ><img src="assets/img/logo.png" alt=""></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <nav class="header__menu mobile-menu">
          <ul>
            <li routerLinkActive="active"><a routerLink="/Home">Home</a></li>
            <li routerLinkActive="active" ><a routerLink="/Shop" class="nav-link">Shop</a></li>
            <li routerLinkActive="active"><a routerLink="/Blog" >Blog</a></li>
            <li routerLinkActive="active"><a routerLink="/Contact" >Contacts</a></li>
            <li routerLinkActive="active"><a routerLink="/AboutUs" >About</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="header__nav__option">
          <a href="#" class="search-switch"><img src="assets/img/icon/search.png" alt=""></a>
          <a href="#"><img src="assets/img/icon/heart.png" alt=""></a>
          <a routerLink="/Shopping-Cart" routerLinkActive="active" class="nav-link"><img src="assets/img/icon/cart.png" alt=""> <span *ngIf="isUserLogged">{{count}}</span></a>
          <div class="price"><span *ngIf="isUserLogged">{{price|currency}} </span></div>
        </div>
      </div>
    </div>
    <div class="canvas__open" (click)="openMenu()"><i class="fa fa-bars"></i></div>
  </div>
</header>
<!-- Header Section End -->
