
    <!-- Breadcrumb Section Begin -->
    <app-bread-crumb app-bread-crumb="ShoppingCart/Checkout"></app-bread-crumb>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <form action="#">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <h6 class="coupon__code"><span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click
                            here</a> to enter your code</h6>
                            <h6 class="checkout__title">Billing Details</h6>
                            <!-- <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Fist Name<span>*</span></p>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Last Name<span>*</span></p>
                                        <input type="text">
                                    </div>
                                </div>
                            </div> -->
                            <div class="row">
                              <div class="col-lg-12">
                                  <div class="checkout__input">
                                      <p>Email<span>*</span></p>
                                      <input type="text"  [(ngModel)]="userEmail" [ngModelOptions]="{standalone: true}">
                                  </div>
                              </div>
                          </div>
                            <div class="checkout__input">
                                <p>Town/City<span>*</span></p>
                                <input type="text"  [(ngModel)]="city" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="checkout__input">
                                <p>Street<span>*</span></p>
                                <input type="text" [(ngModel)]="street" placeholder="Street Address" [ngModelOptions]="{standalone: true}" class="checkout__input__add">
                            </div>
                            <div class="checkout__input">
                                <p>State<span>*</span></p>
                                <input type="text"  [(ngModel)]="state" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="checkout__input">
                              <p>Address notes<span>*</span></p>
                              <input type="text" [(ngModel)]="detailed" [ngModelOptions]="{standalone: true}"  placeholder="Notes about your address, e.g. special notes for delivery.">
                          </div>



                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4 class="order__title">Your order</h4>
                                <div class="checkout__order__products">Product <span>Total</span></div>
                                <ul class="checkout__total__products">
                                    <li *ngFor="let item of order?.items; index as i">{{i+1}}. {{item.productName}} <span>{{item.price*item.quantity|currency}}</span></li>
                                </ul>
                                <ul class="checkout__total__all">
                                  <li>Subtotal <span>{{order?.totalPrice|currency}}</span></li>
                                  <li>Shipping and Delivery <span>20</span></li>
                                  <li>Total <span>{{(order?.totalPrice)?? 20 |currency}}</span></li>
                                </ul>


                                <div class="checkout__input__checkbox">
                                    <label for="payment">
                                        Check Payment
                                        <input type="checkbox" id="payment">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <!-- <div class="checkout__input__checkbox">
                                    <label for="paypal">
                                        Paypal
                                        <input type="checkbox" id="paypal">
                                        <span class="checkmark"></span>
                                    </label>
                                </div> -->
                                <a ><button  (click)="PlaceOrder()" class="site-btn">PLACE ORDER</button></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->


